name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Generate prisma client
        run: pnpm dlx prisma generate

      - name: Run Prettier check
        run: pnpm format --check

      - name: Run Lint check
        run: pnpm lint

      - name: Run Build check
        run: pnpm build
